app = "cyanea"
primary_region = "iad"
kill_signal = "SIGTERM"
kill_timeout = "5s"

[build]

[deploy]
  release_command = "bin/cyanea eval 'Cyanea.Release.migrate()'"

[env]
  PHX_SERVER = "true"
  PHX_HOST = "app.cyanea.bio"
  PORT = "8080"
  ECTO_IPV6 = "true"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "suspend"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

  [http_service.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 800

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/health"

[[vm]]
  size = "shared-cpu-2x"
  memory = "1gb"
  processes = ["app"]
